*,
::before ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* index.html */
.image-acceuil{

    width: 100vw;
    height: 50vh;
}
.pizza{

    background: url(/WebContent/resources/images/pizza-acceuil.jpg);
    width: 100vw;
    height: 25vh;

}
.titre-pizza{
    display: flex;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    padding-top: 7%;

}
.pizzaH1{

    background-color: rgb(35, 135, 35);
    padding: 1% ;
    border-radius: 15px;
}



.carousel-item{

    height: 40vh;
    
}



.d-block{
    object-fit: cover;
}

/* MENU */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 25px;
}

.card-img-top {
    height: 200px;
}

.menu_h2 {
    display: flex;
    justify-content: center;
    background-color: green;
    padding: 15px;
    color: white;
    align-items: center;
}

/* MENUCOMMANDE */

.menucommande {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PANIER */

.panier {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONFIRMATIONCOMMANDE */
.confirmationcommande {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LOGIN */
.login {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
